*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  margin-bottom: 3px;
  margin-top: 2px;
}

div {
  background-color: white;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin 0;
  padding: 0;
  line-height: 0%;
  border: .001px solid black;
}
span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.selected {
  border: 2px solid white;
}

.row {
  margin: 0;
  padding: 0;
}
.custom {
  color: white;
}

.red {
  background-color: rgb(255, 0, 0);
}

.blue {
  background-color: rgb(48, 6, 254);
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}
.dodgerblue {
  background-color: dodgerblue;
}

.mediumorchid {
  background-color: mediumorchid;
}

.white {
  background-color: white;
}

.tomato {
  background-color: tomato;
}
.burlywood {
  background-color: burlywood;
}

.plum {
  background-color: plum;
}

.sienna {
  background-color: sienna;
}

.cyan {
  background-color: cyan;
}

#result {
  color: white;
}

#container {
  width: 800px;
  margin: 0 auto;
}

body {
  overflow-y: hidden;
}

@media only screen and (max-width:960px) {
  body {
    overflow-y: scroll;
  }
}
