*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

aside {
  position: absolute;
  bottom: 0;
  display: block;
  float: left;
  margin-left: 10px;
  clear: both;
}

body {
  background-color: black;
  text-align: center;
  overflow-y: hidden;
}

div {
  background-color: white;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin 0;
  padding: 0;
  line-height: 0%;
  border: .001px solid black;
}

h1 {
  color: white;
  margin-bottom: 3px;
  margin-top: 2px;
}


input{
  cursor: pointer;
}

span {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  cursor: pointer;
}

.custom {
  color: white;
}

.customCursor {
  cursor: url(/img/cursor.png), auto;
}

.input-color {
  display: inline-block;
}

.row {
  margin: 0;
  padding: 0;
}

.selected {
  border: 2px solid white;
}

.blue {
  background-color: rgb(48, 6, 254);
}

.burlywood {
  background-color: burlywood;
}

.cyan {
  background-color: cyan;
}

.dodgerblue {
  background-color: dodgerblue;
}

.green {
  background-color: green;
}

.mediumorchid {
  background-color: mediumorchid;
}

.orange {
  background-color: orange;
}

.plum {
  background-color: plum;
}

.red {
  background-color: rgb(255, 0, 0);
}

.sienna {
  background-color: sienna;
}

.tomato {
  background-color: tomato;
}

.white {
  background-color: white;
}

#container {
  width: 800px;
  margin: 0 auto;
}

#colorIndicator {
 border: 2px solid white;
 border-radius: 0%
}

#colorIndicatorMessage {
  color: white;
  display: inline;
  padding-right: 10px
}

#result {
  color: white;
}

@media only screen and (max-width:960px) {
  body {
    overflow-y: scroll;
  }
}
